/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Arial Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Regular'), url('assets/font/ARIAL.woff') format('woff');
}
@font-face {
    font-family: 'Arial Light Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Light Regular'), url('assets/font/ARIALLGT.woff') format('woff');
}
html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: 'Arial Regular' !important;
    overflow-x: hidden;
}

